[Unit]
Description=v-collect instance
Documentation=http://docs.v-collect.org
Wants=network-online.target
After=network-online.target

[Service]
EnvironmentFile=/etc/default/v-collect
User=v
Group=v
Type=simple
Restart=on-failure
WorkingDirectory=/usr/share/v-collect
ExecStart=/usr/sbin/v-collect

LimitNOFILE=10000
TimeoutStopSec=20
UMask=0027

[Install]
WantedBy=multi-user.target
